main {
   padding-bottom: 30px;
}

.div-wrapper p {
   height: auto;
   width: 100%;
   margin: 20px 0px;
   margin-top: 30px;
   font-size: 17px;
   text-align: center;
   color: #002D5C;
   letter-spacing: 0px;
   line-height: normal;
}

.div-container {
   display: flex;
   -ms-display: flex;
   -moz-display: flex;
   -webkit-display: flex;
   background-color: #002D5C;
}

.horizontal {
   width: 50%;
   display: flex;
   -ms-display: flex;
   -moz-display: flex;
   -webkit-display: flex;
   flex-direction: row;
   -ms-flex-direction: row;
   -moz-flex-direction: row;
   -webkit-flex-direction: row;
}

.vertical {
   height: 50%;
   width: 50%;
   display: flex;
   -ms-display: flex;
   -moz-display: flex;
   -webkit-display: flex;
   flex-direction: column;
   -ms-flex-direction: column;
   -moz-flex-direction: column;
   -webkit-flex-direction: column;
}

.div-box {
   padding: 15px;
}

.div-box h3 {
   height: auto;
   width: 100%;
   font-size: 25px;
   font-weight: bold;
   color: #FFF;
   text-align: center;
   letter-spacing: 0px;
   text-shadow: 0px 0px 10px #FFF;
   margin: 10px 0px;
}

.div-box p {
   height: auto;
   width: 100%;
   margin: 20px 0px;
   font-size: 15px;
   text-align: center;
   color: #FFF;
   letter-spacing: 0px;
   line-height: normal;
}

.img-footing {
   width: 100%;
   height: 200px;
   margin: 0px;
   object-fit: cover;
   -o-object-fit: cover;
}

@media screen and (max-width: 950px) {
   .div-container {
      display: flex;
      -ms-display: flex;
      -moz-display: flex;
      -webkit-display: flex;
      flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
   }

   .horizontal, .vertical {
      width: 100%;
   }
}
