footer {
   width: 100%;
   background-color: #CCC;
   margin-top: 30px;
}

.contents {
   width: 90%;
   list-style-type: none;
   margin: auto;
   padding: 0px;
   display: flex;
   justify-content: space-between;
}

.div-top {
   width: 90%;
   height: 60px;
   margin: auto;
   padding: 5px;
   display: flex;
   background-color: #CBCBCB;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.div-top img {
   height: 100%;
}

.vertical {
   display: grid;
   margin-bottom: auto;
}

footer a, footer p {
   font-size: 14px;
   line-height: 10px;
}

.text {

}
