header {
   width: 100%;
   height: auto;
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: #FFF;
   border-bottom: solid 1px #333A;
   -o-border-bottom: solid 1px #333A;
   -moz-border-bottom: solid 1px #333A;
   -webkit-border-bottom: solid 1px #333A;
   box-shadow: 0px 0px 10px #000A;
   -webkit-box-shadow: 0px 0px 10px #000A;
   position: sticky;
   -webkit-position: sticky;
   top: 0px;
   z-index: 999;
}

.div-nav-desktop {
   display: block;
}

.div-nav-mobile {
   display: none;
}

.icon {
   height: 40px;
   display: none;
}

img {
   height: 100px;
   margin: 10px 50px;
   transition: all 1s;
   -moz-transition: all 1s;
   -webkit-transition: all 1s;
}

img::selection {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.name {
   color: #273B7B;
   font-size: 21px;
   left: 200px;
   width: 422px;
   position: absolute;
   top: 10px;
   cursor: default;
   transition: all 1s;
   -moz-transition: all 1s;
   -webkit-transition: all 1s;
}

nav {
   display: flex;
   -ms-display: flex;
   -moz-display: flex;
   -webkit-display: flex;
   flex-direction: row;
   -ms-flex-direction: row;
   -moz-flex-direction: row;
   -webkit-flex-direction: row;
   justify-content: flex-end;
   -ms-justify-content: flex-end;
   -moz-justify-content: flex-end;
   -webkit-justify-content: flex-end;
   position: absolute;
   right: 80px;
   top: 65px;
   transition: all 1s;
   -moz-transition: all 1s;
   -webkit-transition: all 1s;
}

.item {
   color: #605E5E;
   margin: 15px;
   text-decoration: none;
   -webkit-text-decoration: none;
   font-size: 18px;
   font-weight: lighter;
   transform: scale(1);
   -ms-transform: scale(1);
   -moz-transform: scale(1);
   -webkit-transform: scale(1);
   transition: all 0.2s ease, font-size 1s ease;
   -moz-transition: all 0.2s ease, font-size 1s ease;
   -webkit-transition: all 0.2s ease, font-size 1s ease;
}

.item:hover {
   color: #273B7B;
   border-bottom: solid 2px #273B7B;
   -o-border-bottom: solid 1px #333A;
   -moz-border-bottom: solid 1px #333A;
   -webkit-border-bottom: solid 1px #333A;
   transform: scale(1.2);
   -ms-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   transition: all 0.2s ease, font-size 1s ease;
   -moz-transition: all 0.2s ease, font-size 1s ease;
   -webkit-transition: all 0.2s ease, font-size 1s ease;
}

.lang {
   width: 75px;
   height: calc(100% - 50px);
   position: absolute;
   top: 0px;
   right: 0px;
   display: flex;
   -ms-display: flex;
   -moz-display: flex;
   -webkit-display: flex;
   flex-direction: column;
   -ms-flex-direction: column;
   -moz-flex-direction: column;
   -webkit-flex-direction: column;
   justify-content: space-around;
   padding: 25px 0px;
}

.lang a {
   background-position:left bottom;
   color: #605E5E;
   text-decoration: none;
   -webkit-text-decoration: none;
   margin: 0px;
   text-align: right;
   transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
}

.lang a:hover {
   color: #FFF;
   background: linear-gradient(to left, #273B7B, transparent);
   background-size: 500% 100%;
   -webkit-background-size: 500% 100%;
   background-position:right bottom;
   padding-right: 50px;
   transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
}

.minimize .div-nav-desktop img {
   height: 40px;
   margin: 10px;
}

.minimize .div-nav-desktop .name {
   position: absolute;
   left: 65px;
   top: -10px;
}

.minimize .div-nav-desktop nav {
   position: absolute;
   right: 80px;
   top: 25px;
}

.minimize .div-nav-desktop nav .item {
   font-size: 15px;
   transition: all 1s ease;
   -moz-transition: all 1s ease;
   -webkit-transition: all 1s ease;
}

@media screen and (max-width: 950px) {
   .div-nav-desktop {
      display: none;
   }

   .div-nav-mobile {
      display: block;
   }

   .icon {
      display: block;
      position: absolute;
      top: 3px;
      right: 5px;
   }

   img {
      height: 50px;
      margin: 10px;
   }

   nav{
      display: none;
   }

   .responsive {
      width: 100%;
      display: flex;
      -ms-display: flex;
      -moz-display: flex;
      -webkit-display: flex;
      position: absolute;
      top: 75px;
      right: 0px;
      background-color: #FFFD;
      flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      align-items: flex-end;
      -ms-align-items: flex-end;
      -moz-align-items: flex-end;
      -webkit-align-items: flex-end;
   }

   .item {
      font-size: 20px;
      font-weight: normal;
   }

   .language {
      width: calc(100% - 15px);
      color: #605E5E;
      padding-right: 15px;
      padding-top: 10px;
      margin: 10px 0px;
      text-align: right;
      text-decoration: none;
      -webkit-text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      border-top: solid 1px #333A;
      -o-border-top: solid 1px #333A;
      -moz-border-top: solid 1px #333A;
      -webkit-border-top: solid 1px #333A;
   }

   .itemLang {
      color: #605E5E;
      text-decoration: none;
      -webkit-text-decoration: none;
      margin: 5px 0px 0px 40px;
      text-align: right;
   }

   .langSel {
      color: #273B7B;
   }

   .div-social {
      position: absolute;
      top: 15px;
      right: 160px;
      height: auto;
      width: 24px;
      margin: 0px;
      display: flex;
      -ms-display: flex;
      -moz-display: flex;
      -webkit-display: flex;
      flex-direction: row;
      -ms-flex-direction: row;
      -moz-flex-direction: row;
      -webkit-flex-direction: row;
      align-items: flex-end;
      -ms-align-items: flex-end;
      -moz-align-items: flex-end;
      -webkit-align-items: flex-end;
   }

   .div-social a {
      margin: 5px;
   }

   .social {
      height: 24px;
      margin: auto;
      filter: invert(1);
   }
}
