header, .topnav {
   width: 100%;
   height: 60px;
   background-color: #CCC;
   position: sticky;
   top: 0px;
   z-index: 999;
}

.topnav {
   width: 90%;
   height: auto;
   list-style-type: none;
   margin: auto;
   padding: 0px;
   align-items: center;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.menu {
   height: 55px;
}

.icon {
   height: 40px;
   display: none;
}

@media screen and (max-width: 805px) {
   .topnav .div-container:not(:first-child):not(:last-child) {
      display: none;
   }

   .icon {
      float: right;
      display: block;
   }

   .topnav.responsive .div-container:not(:first-child):not(:last-child) {
      display: flex;
   }

   .topnav.responsive {
      position: relative;
      display: block;
   }

   .topnav.responsive .div-container .icon {
      position: absolute;
      right: 0;
      top: 5px;
   }

   .topnav.responsive .div-container {
      width: calc(100% / 2);
      float: none;
      display: flex;
   }
}
