body {
   margin: 0px;
   padding: 0px;
   background-color: #DFDFDF;
   font-family: "Poiret One", cursive;
   color: #333;
   font-size: 18px;
}

main {
   height: auto;
   width: 100%;
   margin: auto;
}

.div-containter {
   align-content: space-between;
}

.link {
   text-decoration: none;
   color: #333;
   margin: 15px;
}

.active {
   color: #4040AA;
}

.box {
   background-color: #AAA;
   padding: 10px;
}
