* {
   font-family: sans-serif;
   scroll-behavior: auto;
   text-rendering: optimizeLegibility;
}

body {
   display: block;
   margin: 0px;
   padding: 0px;
   background-color: #FFF;
   font-family: sans-serif;
   color: #333;
   font-size: 18px;
   background-color: #FFF;
   z-index: 1;
}

main {
   height: auto;
   width: 100%;
   position: sticky;
   -webkit-position: sticky;
   top: 0px;
   left: 0px;
   margin: auto;
   margin-bottom: 448.88px;
   background-color: #FFF;
   box-shadow: 0px 0px 10px #000A;
   -webkit-box-shadow: 0px 0px 10px #000A;
   transition: all 1s;
   -moz-transition: all 1s;
   -webkit-transition: all 1s;
}

.div-containter {
   align-content: space-between;
   -ms-align-content: space-between;
   -moz-align-content: space-between;
   -webkit-align-content: space-between;
}

.div-division {
   width: 100%;
   height: auto;
   position: relative;
   left: 50%;
   transform-origin: center;
   -ms-transform-origin: center;
   -moz-transform-origin: center;
   -webkit-transform-origin: center;
   transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   padding: 0px;
   overflow: hidden;
   text-align: center;
   z-index: -1;
}

.division-top {
   z-index: 1;
}

.div-wrapper {
   width: 60%;
   position: relative;
   left: 50%;
   margin: 20px 0px;
   transform-origin: center;
   -ms-transform-origin: center;
   -moz-transform-origin: center;
   -webkit-transform-origin: center;
   transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   transition: all 1s ease;
   -moz-transition: all 1s ease;
   -webkit-transition: all 1s ease;
}

.div-content{
   width: calc((100% / 3) - 40px);
   margin: 0px 10px;
   padding: 10px;
   margin-bottom: 10px;
}

.text-header {
   font-weight: bolder;
   text-align: center;
   margin: 0px;
   color: white;
   font-size: 38px;
}

.text-content {
   font-weight: normal;
   text-align: left;
   color: white;
}

.div-message {
   height: auto;
   margin: auto;
   color: #273B7B;
   font-weight: normal;
   text-align: center;
   transition: all 1s ease;
   -moz-transition: all 1s ease;
   -webkit-transition: all 1s ease;
}

.div-message h5 {
   color: #273B7B;
   font-weight: normal;
   text-align: center;
   transition: all 1s ease;
   -moz-transition: all 1s ease;
   -webkit-transition: all 1s ease;
}

.div-message b {
   font-weight: bolder;
}

.flow {
   display: flex;
   -ms-display: flex;
   -moz-display: flex;
   -webkit-display: flex;
   flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   -moz-flex-wrap: wrap;
   -webkit-flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
}

.link {
   text-decoration: none;
   -webkit-text-decoration: none;
   color: #333;
   margin: 10px;
   cursor: auto;
}

.active {
   color: #4040AA;
}

.box {
   background-color: #AAA;
   padding: 10px;
}

.button {
   height: 40px;
   max-width: 150px;
   width: 90%;
   margin: auto;
   border-radius: 20px;
   background-color: #CB5764;
   transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease;
}

.button a {
   display:inline-block;
   height: 100%;
   width: 100%;
   color: #FFF;
   text-decoration: none;
   -webkit-text-decoration: none;
   font-size: 13px;
   padding: 11px 0px;
}

.button:hover {
   background-color: #193C60;
   transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -webkit-transition: all 0.4s ease;
}

.parallax-container {
   height: 20vw;
   width: 100%;
}

#section0 .fp-tableCell {
   vertical-align: top;
}

.navigation {
   height: 100px;
   width: 20%;
   margin: 30% 0px;
}

.navigation img {
   height: 100px;
   width: 100%;
   object-fit: contain;
   -o-object-fit: contain;
   pointer-events: none;
   user-select: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   filter: invert(0.5);
   -webkit-filter: invert(0.5);
   transition: all 0.25s ease-in-out;
   -moz-transition: all 0.25s ease-in-out;
   -webkit-transition: all 0.25s ease-in-out;
}

.navigation:hover > img {
   filter: invert(0);
   -webkit-filter: invert(0);
   transition: all 0.25s ease-out;
   -moz-transition: all 0.25s ease-out;
   -webkit-transition: all 0.25s ease-out;
}

.carousel {
   height: 60%;
   width: 60%;
}

code {
   letter-spacing: -4px;
}

@media screen and (max-width: 950px) {
   .navigation {
      height: 100%;
      width: 5%;
      transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
   }
}

@media screen and (max-width: 888px) {
   .div-message, .div-wrapper {
      width: 90%;
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;
   }
}

.vertical h5 {
   line-height: 15px;
   color: #DDD;
   font-size: 0.83em;
   margin-block-start: 1.67em;
   -moz-margin-block-start: 1.67em;
   -webkit-margin-block-start: 1.67em;
   margin-block-end: 1.67em;
   -moz-margin-block-end: 1.67em;
   -webkit-margin-block-end: 1.67em;
   margin-inline-start: 0px;
   -moz-margin-inline-start: 0px;
   -webkit-margin-inline-start: 0px;
   margin-inline-end: 0px;
   -moz-margin-inline-end: 0px;
   -webkit-margin-inline-end: 0px;
   font-weight: bold;
}

.div-bar {
   height: 70px !important;
}

.contents h5 {
   text-align: left !important;
   color: #DDD !important;
}

@media screen and (max-width: 760px) {
   main {
      margin-bottom: 142px;
      transition: all 1s;
      -moz-transition: all 1s;
      -webkit-transition: all 1s;
   }

   .parallax-container {
      height: 35vw;
   }
}

@media screen and (max-width: 500px) {
   .navigation {
      margin: 50% 0px;
      margin-bottom: auto;
   }
}
